* {
  font-family: Roboto Condensed , sans-serif , Segoe UI , Verdana , sans-serif;
  margin: 0%;
  padding: 0%;
}

.meals {
  align-items: center;
  background: #7cfaca;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.login {
  align-items: center;
  background-color: #efe5df;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.senha {
  margin-top: 10px;
}

.login > .logotipoLogin {
  display: block;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.login > form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  width: 80%;
}

.login > form > input {
  background-color: white;
  border-color: #ccc;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 5px rgba(66, 66, 66, 0.75);
  color: black;
  font-size: 16px;
  padding: 5px;
  text-shadow: -50px 0 0 rgba(66, 66, 66, 0);
  width: 80%;
}

.headerButton > button {
  background: none;
  border: none;
  margin: 0;
  padding: 5px;
}

.botaoMealsDrink > button {
  background-color: #ff8000;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-weight: 0;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px 30px;
  transform: translateY(0);
  transition: 1000ms;
  width: 98%;
}

.login > form > button {
  background-color: #04aa6d;
  border: none;
  color: white;
  cursor: pointer;
  margin: 4px 2px;
  margin-top: 5%;
  padding: 5px 20px;
  text-decoration: none;
}

.botaoMealsDrink > button:hover {
  background-color: #ff8000;
}

.login > form > button:disabled {
  border-radius: 4px;
  color: white;
  cursor: not-allowed;
  float: left;
  opacity: 0.6;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.headerButton {
  display: flex;
  justify-content: flex-end;
}


.secaoComidaDrink {
  width: 100%;
}

.botaoMealsDrink {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}


.meals-btnCategory {
  background-color: #ff8000;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-weight: 0;
  margin-bottom: 10px;
  padding: 5px 15px;
  transform: translateY(0);
  transition: 1000ms;
}

.meals-btnCategory:hover {
  background-color: #ff8000e2;
  border: none;
  color: black;
  opacity: 0.6;
  transition: 1000ms;
}

.drinks-btnCategory {
  background-color: #ff8000;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-weight: 0;
  margin-bottom: 10px;
  padding: 5px 15px;
  transform: translateY(0);
  transition: 1000ms;
}

.drinks-btnCategory:hover {
  background-color: #ff8000e2;
  border: none;
  color: black;
  opacity: 0.6;
  transition: 1000ms;
}

.cardapio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comidaCard {
  margin: 10px;
  text-align: center;
  width: 40%;
}

.comidaCard img {
  border: 1px solid #ddd;
  border-radius: 10%;
  max-height: 200px;
  object-fit: cover;
  width: 100%;
}

.receitaLink {
  color: black;
  text-decoration: none;
}

.receitaLink:hover {
  color: orangered;
  text-decoration: none;
  transition: 0.5s;
}

.profile {
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
}

.profile h4 {
  font-family: Gill Sans , Gill Sans MT , Calibri , Trebuchet MS , sans-serif;
}

.profile-itens {
  align-items: center;
  border-color: #ff8000;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 15vh;
  max-width: 80%;
  min-height: 50%;
  min-width: 80%;
}

.profile-btn {
  background-color: #ff8000;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  transform: translateY(0);
  transition: 1000ms;
  width: 40%;
}

.profile-btn-logout {
  background-color: white;
  border: solid black 2px;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
  color: black;
  font-family: Koulen , sans-serif;
  font-size: 15px;
  font-weight: 0;
  margin-top: 30px;
  padding: 5px 50px;
  text-transform: uppercase;
  transform: translateY(0);
  transition : 1000ms;
}

.profile-btn-logout:hover {
  background-color: black;
  border: solid 2px white;
  color: white;
  padding: 10px 44px;
  transform : translateY(-0);
  transition : 1000ms;
}


.profile-btn:hover {
  background-color: #ff8000e2;
  border: none;
  color: black;
  opacity: 0.6;
  transition: 1000ms;
}

.footer {
  background-color: white;
  border-top: 1px solid rgb(49, 49, 49);
  bottom: 0;
  display: flex;
  height: 70px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.footer-btn {
  background: none;
  border: none;
  margin-top: 5px;
  padding: 10px;
}

.footer-btn:hover {
  background-color: orangered;
  border-radius: 50%;
  margin-top: 5px;
  padding: 10px;
}

.footer-img {
  height: 30px;
  width: 30px;
}

.footer-p {
  font-family: Nunito , Roboto Condensed , sans-serif , Arial , Helvetica , sans-serif;
  font-size: 12px;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.imgComida {
  height: 30%;
  width: 30%;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.strike {
  text-decoration: line-through solid black;
}
